#navmenu>li {
    float: right;
    border-right: 1px solid #bbb;
}

#navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e202b;
    position: fixed;
    top: 0;
    width: 100%;
}

#navmenu>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

#cityName {
    border-radius: 10px;
    background: #1e202b;
    width: 100%;
    color: white;
    padding: 20px 50px 20px 20px;
}

#checkcity {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}