#navmenu>li {
    float: right;
}

#navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2874f0;
    position: fixed;
    top: 0;
    width: 100%;
}

#navmenu>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#cityName {
    border-radius: 10px;
}