<div>
    <div style="margin-right:30px; width:100%" class="center">
        <input type="text" ng-model="cityName" id="cityName" placeholder="Search places.." ng-init="cityName='Delhi'">
        <button ng-click="searchByCid()" id="checkcity">Check</button>
    </div>
    <div class="panel mainpanel" style="width:24%;margin:40px;margin-left:10px">
        <div class="panel-heading center"> {{result.name}} :: {{result.weather[0].main}} </div>
        <div>
            <!--style="max-height=10; min-height=10; max-width=20; nim width=20"-->
            <ul>
                <li style="font-family: 'Nova Oval',sans-serif ;font-size: 60px"> {{tempincelsius}}°C </li>
                <li><img src="images/Humidity-64.png" alt="Humidity"> :: {{result.main.humidity}} %</li>
                <li><img src="images/icon-wind@2x.png" alt="Wind Speed"> :: {{result.wind.speed}} kmph</li>
                <li>Summary :: {{result.weather[0].description}}</li>
            </ul>
        </div>
    </div>
</div>
<div> </div>